.about .bg div {
    width: 600px;
    height: 150px;
    margin: 60px auto;
    text-align: center;
}

.about .bg p {
    line-height: 80px;
    font-size: 12px;
}

.zzz {
    background: url("../img/organizer-blue.png") no-repeat 5px 0;
}

.body .passage {
    font-family: "Tahoma 微软雅黑";
    margin: 0 auto;
    width: 300px;
    height: 450px;
    /*background-color: skyblue;*/
    text-align: left;
}

.body .passage .title {

    margin: 60px auto;
}

.body .passage span {
    color: #3581f3;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
}

.body .passage div {
    color: #6D777F;
    text-align: center;
    width: 100%;
    height: 50px;
}

.body .passage h2 {
    color: #576571;
    font-size: 30px;
    font-weight: normal;
}

.body .passage .p {
    width: 500px;
    margin: 0 20px;
}

.body .passage p {
    line-height: 30px;
    text-align: left;
    color: #87939D;
    font-size: 16px;
}